@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@import "tailwindcss";

@theme {
    --font-primary:"Instrument Sans", sans-serif;
    --font-secondary: "Lora", sans-serif;
    --color-primary: #0A1C3A;
    --color-secondary: #fff;
    --color-third: #5C6470;
    --color-fourth: #E5ECE9;
    --color-fifth: #FAF7F2;
}

body {
    @apply font-primary;
}

.primary_btn {
    @apply flex lg:inline-flex items-center gap-2 py-3.5 px-7 bg-primary rounded-[30px] font-semibold text-sm text-secondary hover:bg-transparent border-2 border-transparent hover:border-primary hover:text-primary duration-150 ease-in;
}

.secondary_btn {
    @apply relative inline-flex items-center gap-2 font-medium text-base text-primary hover:font-semibold after:absolute after:content-[''] after:h-0.75 after:w-0 hover:after:w-full after:-bottom-2 after:left-1/2 after:-translate-x-1/2 after:bg-primary after:transition-all after:duration-150 after:ease-in-out pointer-events-auto;
}

.SummaryCard {
    @apply text-center;

    h1 {
        @apply font-secondary font-bold text-[40px] text-primary mb-2;
    }
    
    p {
        @apply font-semibold text-sm uppercase text-third;
    }
}

.head_title {
    @apply bg-fourth py-1.5 px-4 rounded-[100px] inline font-semibold text-xs uppercase text-primary;
}

.head_exp {
    @apply mt-8 font-secondary font-normal text-4xl leading-[130%] text-primary;
}

.head_pragraph {
    @apply mt-4 font-normal text-base text-third;
}

.shade:hover {
    box-shadow: 0 8px 24px 0 rgba(10, 28, 58, 0.04);
}

.shortInt {
    @apply p-6 bg-fifth rounded-2xl mt-6;

    h3 {
        @apply font-secondary font-bold text-[22px] text-primary mb-2;
    }

    span {
        @apply font-semibold text-sm uppercase text-third mb-2;
    }

    p {
        @apply font-normal text-sm leading-[150%] text-third;
    }
}

.card_1 {
    @apply rounded-3xl p-4 lg:p-8 bg-fifth;

    span {
        @apply font-bold text-sm uppercase text-third;
    }

    h2 {
        @apply mt-2 font-secondary font-bold text-[56px] text-primary;

        small {
            @apply font-primary font-semibold text-xl text-third
        }

    }
    
    p {
        @apply font-semibold text-sm text-primary
    }
}

.labelclass {
    @apply font-semibold text-sm uppercase text-primary;
}

.inputclass {
    @apply w-full rounded-lg mt-2 border border-[#e5e1d8] py-3.5 px-4 focus:outline-primary;
}